google-api-core==1.31.5
google-cloud-storage==1.38.0
streamlit
pandas
numpy
google-cloud-bigquery==3.0.1
db-dtypes==1.0.0
Pillow==7.0.0
sewar==0.4.5
matplotlib==3.3.2
TensorFlow
keras==2.4.3
sklearn
folium
streamlit_folium
opencv-python
